<style >

* {
	box-sizing:border-box;
}

body{
	background-color: white;
}

h1{
	font-style:"helvetica";
	text-align: center;
	margin-bottom: 15px;
	font-size: 50px;

}

div {
  position: relative;
  background-color: gray;
  width: 100%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
section {
        position: relative;
        padding: 15px;
        width: 90%;
    }

p{
	position: relative;
	clear: right;	
}

/*chicken*/
.s1{
	float: right;
	border:2.5px solid black;
	width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    color:lightgreen;
      font-weight: bold;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: gray;
}
/*beef*/
.s2{
	float: right;
	border:2.5px solid black;
	width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
     color: white;   
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: maroon;
      font-weight: bold;
}
/*sushi*/
.s3{
	float: right;
	color:blue;
	border:2.5px solid black;
	width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    font-weight: bold; 
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: yellow;

}

.info{  
		padding: 5px;
        border: none;
        background-color: gray;
        font-family: Helvetica;
        color: black;
        margin: 3px ;
        height: 150px;
        overflow: auto;
}

/*responsive layout*/
.row{
	width:90%;
}

/*desktop*/
	@media(min-width:992px){
	.col1{
		float: left;
		width: 33.33%;
	}
	

/*tablet*/
	
		 @media (min-width: 768px) and (max-width: 991px) {
        .col20 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
              .col21 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

/*mobile*/
	@media(max-width:767 ){
	.col3 {
		float:left;
		width:100%

	}
}

</style>